*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

button {
  all: unset;
}

body {
  background-color: white;
  color: rgb(35, 35, 35);
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
  background-color: #2c2c2c;
  color: white;
}

body.dark-mode .tooltiptext {
  color: white;  
}