.filters{

    &__group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 60%;
    
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content:space-around;
        }
    
    }
    
    &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    gap: 10px;
    border-radius: 8px;
    }

    &__input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    &__select {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff;
    }

    &__btnReset {
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        font-size: 16px;

        &:hover {
            background-color: #e0e0e0;
        }

        .dark-mode & {
            background-color: #777777;
            color: #e5e5e5;
        }

    }
}